Source: sddm-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: sddm-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, sddm
Conflicts: systemd, systemd-sysv
Description: Package to add lvm2 configuration for OpenRC.
 This package will add the boot scripts to use lvm2
 with OpenRC in Nitrux.

